<div class="vmware-container">
    <mat-toolbar class="vmware-toolbar vmware-header">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="vmware-app-name">VMware</h1>

        <div class="spacer"></div>
        <button mat-button [matMenuTriggerFor]="menu">{{username}}<span class="material-icons">
                arrow_drop_down
            </span></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="getKeycloakService().getUserDetails()">Profile</button>
            <button mat-menu-item (click)="getKeycloakService().logout()">Logout</button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="vmware-sidenav-container">
        <mat-sidenav #snav [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink='/provisioning'><b>Provisioning</b></a>
                <a mat-list-item routerLink='/request'>Request</a>
                <a mat-list-item routerLink='/inventory'>Inventory</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="primary-heading">Provisioning</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-8">
                        <div class="md-form">
                            <input mdbInput type="text" id="form1" class="form-control"
                                (keyup)="applyFilter($event.target.value)">
                            <label for="Search" class="">Search application</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 card-padding" *ngFor="let provisioning of obs | async ">
                        <mat-card class="vmware-card">
                            <mat-card-header>
                                <div mat-card-avatar class="vmware-header-image"
                                    [ngStyle]="{'background-image': 'url(' + provisioning.vm_icon + ')'}">
                                </div>
                                <mat-card-title>{{ provisioning.vm_name }}</mat-card-title>
                                <mat-card-subtitle>{{ provisioning.vm_os }}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p style="height: 50px;">
                                    {{ provisioning.vm_info }}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button (click)="openModal(provisioning)">Apply</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <div class="row paginator">
                    <div class="col-md-4 offset-md-8">
                        <mat-paginator [pageSizeOptions]="[6, 12, 30]" class="paginator"></mat-paginator>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
    <footer class="page-footer font-small" style="background-color: #194A5E;">
        <div class="footer-copyright text-right py-3" style="padding-right: 40px;">© 2020 Copyright:
            <a href=""> VMware</a>
        </div>
    </footer>
</div>