.vmware-card {
    max-width: 400px;
}

.vmware-header-image {
    // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.card-padding {
    padding: 10px 5px 10px;
}

.paginator {
    background: transparent;
}
