<div class="vmware-container">
    <mat-toolbar class="vmware-toolbar vmware-header">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="vmware-app-name">VMware</h1>

        <div class="spacer"></div>
        <button mat-button [matMenuTriggerFor]="menu">{{username}}<span class="material-icons">
                arrow_drop_down
            </span></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="getKeycloakService().redirectProfile('request')">Profile</button>
            <button mat-menu-item (click)="getKeycloakService().logout()">Logout</button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="vmware-sidenav-container">
        <mat-sidenav #snav [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink='/services'>
                    <span class="material-icons-outlined sidenav-icon">
                        cloud_upload
                    </span>
                    Services
                </a>
                <a mat-list-item routerLink='/request'>
                    <span class="material-icons-outlined sidenav-icon">
                        create
                    </span>
                    <b>Request</b>
                </a>
                <a mat-list-item routerLink='/inventory'>
                    <span class="material-icons-outlined sidenav-icon">
                        device_hub
                    </span>
                    Inventory
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="primary-heading">Request</h2>
                    </div>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
                        [fullScreen]="true">
                        <p style="color: white"> Loading... </p>
                    </ngx-spinner>
                    <div class="col-11">
                        <div class="example-header">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-1">
                         <button class="refresh-fab" mat-mini-fab aria-label="refresh source" (click)="refreshSource()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <div class="col-12">
                        <mat-table [dataSource]="dataSource" matSort matSortActive="request_Progress"
                            matSortDirection="asc">

                            <!-- ID Column -->
                            <ng-container matColumnDef="request_Id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">ID: </span>
                                    {{ element.request_Id }}
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="svc_type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Type: </span>
                                    <img [src]="element.svc_icon" class="mat-cell-img" /> {{element.svc_type}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="submittedOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Submitted </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Submitted: </span>
                                    {{element.submittedOn}}
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="request_Status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Status: </span>
                                    {{element.request_Status}}
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="request_Progress">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Progress: </span>
                                    <span class="progress-bar">
                                        <mat-progress-bar mode="determinate" value={{element.request_Progress}}>
                                        </mat-progress-bar>
                                    </span>
                                    <span style="margin-left: 3px;">
                                        {{element.request_Progress}} %
                                    </span>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
    <footer class="page-footer font-small" style="background-color: #194A5E;">
        <div class="footer-copyright text-right py-3" style="padding-right: 40px;">© 2020 Copyright:
            <a href=""> VMware</a>
        </div>
    </footer>
</div>