<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button>VMware</button>
        <button mat-button>Provisioning</button>
        <button mat-button>Request</button>
        <button mat-button>Inventory</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-formio src="https://examples.form.io/example" (submit)="onSubmit($event)"></mat-formio>
    <!--<mat-formio [form]="form" [submission]="submission" (submit)="onSubmit($event)"></mat-formio>-->
</mat-card>

<div style="text-align:center">
    <button (click)="openModal()">Open Dialog</button>
</div>